.Rectangle-1478 {
    /* width: 1008px; */
    height: 100px; 
    border-radius: 4px;
    border: solid 1px #eeeeee;
    background-color: #fafafa;
  }

  
.TopSpace {
    padding-top: 84px;
    padding-left: 48px;
}  

.Sale-Role {
    padding-left: 56px;
    padding-top: 25px;
    font-family: Poppins;
  font-size: 12px;
  font-weight: 600;
  color: #616161;
  }
 
.Switch{
    padding-left: 53px;
    padding-top: 15px;
}
 
.Line-4 {
    width: 1008px;
    height: 0;
    border: solid 1px #eeeeee;
    padding-top: 24px ;
  }